

.button{
    -fx-background-color: #101D3D;
    -fx-background-radius:15px 15px 15px 15px;
}

.button{
    -fx-font-family: 'BoonBaan';
    /* -fx-font-family: 'Noto Sans Lao'; */
    -fx-font-size: 14;
    -fx-text-fill:#FFF;
}

.button-color{
    -fx-font-family: 'BoonBaan';
    /* -fx-font-family: 'Noto Sans Lao'; */
    -fx-font-size: 14;
    -fx-text-fill:#101D3D;
}

.button-size-16{
    -fx-font-family: 'BoonBaan';
    /* -fx-font-family: 'Noto Sans Lao'; */
    -fx-font-size: 16;
}


.button-size-16-bold{
    -fx-font-family: 'BoonBaan';
    /* -fx-font-family: 'Noto Sans Lao'; */
    -fx-font-size: 16;
    -fx-font-weight: bold;
}

.button:hover{
    -fx-font-weight: bold;
    /* -fx-text-fill:#493DF5; */
}