

.button{
    -fx-background-color: #101D3D;
    -fx-background-radius:2em;
    -fx-font-family: 'BoonBaan';
    -fx-font-size: 16;
    -fx-text-fill:#FFF;
}

.button-color{
    -fx-font-family: 'BoonBaan';
    /* -fx-font-family: 'Noto Sans Lao'; */
    /* -fx-font-size: 14; */
    -fx-text-fill:#101D3D;
}

.button-size-16{
    -fx-font-family: 'BoonBaan';
    /* -fx-font-family: 'Noto Sans Lao'; */
    -fx-font-size: 18;
}


.button-size-16-bold{
    -fx-font-family: 'BoonBaan';
    /* -fx-font-family: 'Noto Sans Lao'; */
    -fx-font-size: 16;
    -fx-font-weight: bold;
}

.button:hover{
    -fx-background-color: derive(#0b2e80, 10%);
}


