.jfx-dialog {
  -fx-border-radius: 0.5em;
  -fx-background-radius: 0.5em;
  -fx-font-family: "BoonBaan";
  -fx-font-size: 14;
}
.jfx-button {
  -fx-border-radius: 0.5em;
  -fx-background-radius: 0.5em;
  -fx-border-color: derive(#060621, 95%);
}
.jfx-button:hover {
  -fx-background-color: derive(#0b2e80, 10%);
}
