.dialog-pane:header .header-panel .label {
  -fx-font-family: "BoonBaan";
  -fx-font-size: 20 px;
  -fx-font-weight: bold;
}

.dialog-pane .content .label {
  /* -fx-padding: 0.5em 0.5em 0.5em 0.5em; */
  -fx-font-size: 14;
  /* -fx-font-weight: bold; */
}
.text-field {
  -fx-font-size: 14;
}

.button{
  -fx-font-family: "BoonBaan";
  -fx-font-size: 20 px;
}
